<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">1679438520</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hibernate_training</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <!--
        <mapping resource="user.cfg.xml"/>
        <mapping resource="role.cfg.xml"/>
        <mapping resource="user_activation.cfg.xml"/>
        -->

        <mapping class="model2.Message"/>
        <mapping class="model2.Student"/>
        <mapping class="model2.Item"/>

    </session-factory>
</hibernate-configuration>

